$avatar_size: 10rem;
$icon_size: 2rem;
.table__wrapper {
    overflow-x: auto;

    display: block;
}
.avatar {
    height: $avatar_size;
    width: $avatar_size;
    border-radius: $avatar_size;
    object-fit: cover;
    object-position: center;
}
.icon {
    height: $icon_size;
    width: $icon_size;
    border-radius: $icon_size;
    object-fit: cover;
    object-position: center;
}